//
//  vlc.xcconfig
//  VLC
//
//  Created by Pierre d'Herbemont on 6/26/10.
//  Copyright 2010 __MyCompanyName__. All rights reserved.
//


VLC_DIR=$(PROJECT_DIR)/../vlc
PLATFORM[sdk=iphonesimulator*]=Simulator
PLATFORM[sdk=iphoneos*]=OS
VLC_BUILD_DIR=$(VLC_DIR)/build-ios-$(PLATFORM)
VLC_INSTALL_DIR=$(VLC_DIR)/install-ios-$(PLATFORM)

OTHER_CFLAGS=-I$(VLC_INSTALL_DIR)/include
L=$(VLC_INSTALL_DIR)/lib
M=$(L)/vlc/plugins

CONTRIB[sdk=iphonesimulator*]=$(VLC_INSTALL_DIR)/extras/contrib/hosts/arm-apple-darwin10
CONTRIB[sdk=iphoneos*]=$(VLC_INSTALL_DIR)/extras/contrib/hosts/i686-apple-darwin10

#include "vlc-plugins.xcconfig"

OTHER_LDFLAGS=$(L)/libvlc.a $(L)/libvlccore.a $(VLC_PLUGINS_LDFLAGS) -liconv -lm -lz
